[Unit]
Description=Crowdin Labeler Webhook Processor (Gunicorn)
After=network.target

[Service]
User=daniel_langops
Group=www-data
WorkingDirectory=/home/daniel_langops/automate-labels
EnvironmentFile=/etc/automate-labels/secrets.env
Environment="PATH=/home/daniel_langops/automate-labels/labeler-venv/bin"
ExecStart=/home/daniel_langops/automate-labels/labeler-venv/bin/gunicorn --workers 3 --bind unix:/tmp/automate-labels.sock -m 007 wsgi:app
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
